[2017-02-02 11:01] sloops77 opened #10 "Issue using winston-loggly-bulk with winston 2.3.x"
See https://github.com/winstonjs/winston/issues/947

[2017-02-23 14:04] cdeveas opened #12 "Active handle/Interval prevents node script exit on Ubuntu 14.04"
When running a node script on Ubuntu 14.04, winston-loggly-bulk seems to keep an open handler which causes my script to hang (prevents exit).

Using the `wtf-node` package, I show this upon my script's completion:
[code]

[2017-02-23 17:57] mostlyjason commented on #12
Interesting hopefully we can have someone look into this in the next few weeks. Let us know if you figure out the solution before we do.

[2017-02-24 18:27] chasdevs commented on #12
Yeah it was a little odd. I ended up falling back on the `winston-loggly` transport in the meantime.

[2017-02-26 08:50] sloops77 opened #13 "Setting isBulk to true, causes "Error: Callback was already called.""
we get this issue once we switched bulk delivery on.
* AWS Linux
* node 6 LTS
* winston 2.2.0
* NODE_ENV="staging"
here is the stack trace
[code]

[2017-02-26 08:55] sloops77 commented on #13
maybe related to https://github.com/wavded/winston-mail/issues/33

[2017-02-27 17:43] mostlyjason commented on #13
Thanks for reporting!

[2017-03-09 21:26] sribatchu commented on #12
+1. Same issue (process hangs)

[2017-03-14 10:14] bnayalivne commented on #12
Same here. tried using for AWS Lambda function and wasn't able to understand why it gets timed out.

[2017-03-14 11:33] chasdevs commented on #12
Switching to the upstream winston-loggly removed the timeout issue for me.

[2017-03-14 17:03] mostlyjason commented on #12
Thanks everyone for reporting this! Seems to be a common issue for many users. I'm adding it to the next sprint for our developer.

[2017-03-15 12:26] sloops77 commented on #13
hey guys - any update?

[2017-03-15 21:16] mostlyjason commented on #13
Hey we haven't had a chance to look at this one yet. We have some other tasks ahead of this one in the queue, including #12. Hoping we can look at this next month. If you find a solution before then please share

[2017-03-17 01:53] krazik commented on #12
can anyone help/explain what `Switching to the upstream winston-loggly removed the timeout` means?  what do I switch and where?  (I'm also experiencing this issue, only on our staging env)

[2017-03-17 03:20] chasdevs commented on #12
I just mean my temporary solution was changing to the original repo by winstonjs: https://github.com/winstonjs/winston-loggly. Their module supported our (currently minimal) logging needs but did not have a hanging connection.

[2017-03-22 17:01] mostlyjason commented on #12
Hey guys can you tell us what version of node you are using? We are testing with the latest stable version which is 6 and unable to reproduce so far. Any other information you can offer about your environment or the situations you see this occurring in would be helpful.

[2017-03-22 17:18] chasdevs commented on #12
I was on node v6.9.5.

This may be extremely tough to track down. I was using the `bluebird` Promise library in conjunction with just a standard `winston` implementation; no other major funkiness, except for a couple mysql connections which should be unrelated. The script would hang when running from the command line and reaching the end of the script. If I get some free time I will attempt to rec

[2017-03-22 17:41] mostlyjason commented on #12
@cdeveas great that would be very helpful! We will keep trying different scenarios on our end too

[2017-03-29 08:47] Shwetajain148 commented on #12
@cdeveas @sribatchu  I was not able to reproduce the node process hang issue as you reported above . So I need some additional information that will help me to reproduce it at my end. So I have some queries regarding this which are listed below.

1. Are you experiencing process hang issue consistently or occasionally ?
2. At what rate are you sending the events?
3. What was average event size?

Th

[2017-04-03 02:37] roytz opened #15 "Configuring the JSON sent to loggly"
Hi,
I use winston with this package but I want to configure the JSON being sent to loggly.
How can I do that?

[2017-04-03 16:38] mostlyjason commented on #15
What do you mean by configure the JSON? Do you want to modify the JSON being sent to Loggly? In what way?

[2017-04-03 20:23] shai32 commented on #15
@mostlyjason
Adding more fields like:
App-name
Path (where the log from, which file which line)
and other fields that will help me filter logs letter in loggly

[2017-04-03 21:01] mostlyjason commented on #15
I believe winston allows you to add metadata to your log messages like this: https://github.com/winstonjs/winston#logging-with-metadata. Does this satisfy your need or do you have another suggestion?

[2017-04-04 16:46] mostlyjason commented on #12
We tried running this package in several distributions and under different scenarios like a network outage, promises, and long-running time and they all worked. We're happy to test your environment setup if you provide the details. If we can't reproduce this issue, we will be unable to move forward.

I'd consider using the old winston-loggly a temporary solution only. The main benefits of this pac

[2017-04-04 16:53] chasdevs commented on #12
Definitely makes sense. Our project will have some breathing room in the near future, and I will be able to try and reproduce then.

Our main app (not the one-time script which caused this bug for me) is a continuously-running server, so I will begin using this package again there.

[2017-04-05 02:17] roytz commented on #15
Hi @mostlyjason ,
Thank you! That was what we were looking for.
btw, lots of times I see not all of my logs are transferred to loggly (but some do), any idea why?

[2017-04-05 16:30] mostlyjason commented on #15
@roytz that sounds like a separate issue. Can you open a support ticket so we can help you with that? https://community.loggly.com/customer/portal/emails/new

[2017-04-21 19:53] richkn opened #17 "Security vulnerability"
nsp check reports two vulnerabilities:

1. ReDoS via long string of semicolons - https://nodesecurity.io/advisories/130
2. Remote Memory Exposure - https://nodesecurity.io/advisories/309

These advisories recommend package upgrades for:
_request_ to 2.68.0 or higher
_tough-cookie_ to 2.3.0

[2017-04-27 18:23] mostlyjason commented on #17
Thanks we will work on getting these updated

[2017-06-06 10:16] Shwetajain148 commented on #10
@sloops77, I setup **Winston** and **winston-loggly-bulk** on my machine and tried to reproduce this issue at my end but I couldn't see any error as mentioned in above link. I also setup Winston v**2.3.0**and v**2.3.1**(because you mentioned "Issue using winston-loggly-bulk with Winston v**2.3.x**") with different node versions like- **4.5.0**, **6.10.1** and **7.7.2** but didn't face any issue.

[2017-06-07 09:52] adisbladis opened #19 "Logs should be flushed on process exit"
Currently logs are emitted every 2000ms but not on process exit.

This causes processes that are very short lived (say a bug that crashes the server on startup) to not show anything.

[2017-06-08 17:42] mostlyjason commented on #19
Thanks for reporting! Hopefully @Shwetajain148 can address this one

[2017-06-08 17:43] mostlyjason commented on #17
This has been addressed, closing

[2017-06-08 17:43] #17 closed

[2017-06-08 17:44] mostlyjason commented on #15
Looks like we addressed this issue so I'm closing it. Please reopen if needed.

[2017-06-08 17:44] #15 closed

[2017-06-28 20:36] sloops77 commented on #10
Hi @Shwetajain148
will take a look next and get back to you.

[2017-07-13 14:49] reharik commented on #13
Sorry to me too, but me too. Really glad someone posted this cuz my stack trace is not available so I was kind of in the dark about what was causing it.

[2017-07-14 07:15] Shwetajain148 commented on #19
HI @adisbladis, As you said that short-lived processes that may crash the server or stop a running application (as per your case) doesn't show anything on process exit. My assumption is that if the application crashes then the logging will not be completed (it seems the desired behavior).

Could you please provide more information about your setup and environment so that I can be able to reproduce

[2017-07-14 16:43] mostlyjason commented on #19
I think what he is suggesting is to add some kind of an event listener for process exit. When the event is triggered, we could flush the logs that are in the queue and then continue exiting.

[2017-07-14 17:36] adisbladis commented on #19
Exactly what @mostlyjason said.
I don't mean that node comes crashing down

All you need to do to reproduce is this:
`Logger.whatever("Hello world"); process.exit(1)`

[2017-07-18 00:20] mostlyjason commented on #10
This should be fixed now so we are closing the issue. Reopen if it still happens.

[2017-07-18 00:20] #10 closed

[2017-07-20 08:41] anildigital opened #22 "transport is not a constructor error"
[code]

Using winston like

[code]

[2017-07-20 18:23] mostlyjason commented on #22
@Shwetajain148 is this related to #19?

[2017-07-20 18:36] anildigital commented on #22
It's fixed. Looks like node version and node_modules mismatch issue.

Sent from my iPhone

[2017-07-20 18:45] mostlyjason commented on #22
Ok closing this then

[2017-07-20 18:45] #22 closed

[2017-07-25 07:30] Shwetajain148 commented on #19
Hi @adisbladis, I looked at this issue and tried to handle the exit events like process.exit(); or SIGINT i.e. pressing Ctrl+C to terminate the running process but in each case, I found that as soon as the process.exit event gets fired, no more logging takes place. As we are using ajax requests to send logs to Loggly which is an asynchronous operation, exit events will never wait for ajax requests

[2017-07-25 16:16] mostlyjason commented on #19
I don't think we should ask for user input since many scripts run headless. I like option 1. However, don't stall the exit based on a boolean. Make the best effort to send logs and then exit.

[2017-08-12 22:30] btamayo commented on #12
@mostlyjason Any progress on this issue?

Getting the exact same problem with the remaining open handler, which seems to be this interval:

[code]

#### wtf-node reports:

[code]

See if you can reproduce the issue with this please:

## Environment info:
- OS: macOS Sierra (10.12.6)
- Node version: v8.3.0

- winston-loggly-bulk package version:
[code]

## Code:

#### Modified timerFunctionForBuffe

[2017-08-12 23:19] btamayo commented on #12
**Update**: The uncleared timers seems to be the culprit for this issue and #13.

`setInterval` timers need to be cleared, e.g: https://github.com/loggly/node-loggly-bulk/pull/14

[2017-08-14 21:56] mostlyjason commented on #12
Awesome thanks for the detailed investigation @btamayo! We'll have one of our engineers evaluate this.

[2017-08-15 20:59] FDIM commented on #19
Why not dump remaining entries to a file (possibly user specified) and provide a helper method to flush it upon next startup?

[2017-09-22 18:53] mostlyjason commented on #19
@FDIM  sorry I just saw this now. We implemented it this way because that was the proposed solution at the time on https://github.com/winstonjs/winston/issues/228. It seems like this problem is bigger than just the Loggly plugin, it seems to affect winston as a whole and file logging. I hope we can make use of the solution the winston team decides on once it finds a better solution. In the meantim

[2017-09-22 18:54] mostlyjason commented on #19
Closing this for now feel free to reopen if you have additional discussion

[2017-09-22 18:54] #19 closed

[2017-09-22 18:56] mostlyjason commented on #12
We released an update for version 2.0.1 which we believe contains a fix for this issue. Thanks for the help from @btamayo! Please reopen if it happens again after updating.

[2017-09-22 18:56] #12 closed

[2017-09-22 18:58] mostlyjason commented on #13
We just released version 2.0.1 which we believe contains a fix for this. Please reopen if it happens again after updating.

[2017-11-02 17:48] jimdubbs opened #27 "TypeError: winston.transports.Loggly is not a constructor"
Hey Guys,

Running into an odd problem here. using the package everything builds/tests locally fine - but my TravisCI is failing with the "TypeError: winston.transports.Loggly is not a constructor". I seen a 1 other issue about this referencing node version/module mismatch. I've confirmed im using the same version of node both locally and in TravisCI. any thoughts?

[code]

[2017-11-02 18:56] mostlyjason commented on #27
This sounds like the error we saw in #26

[2017-12-06 04:07] lionello opened #29 "Error message lost during logging"
This line https://github.com/loggly/winston-loggly-bulk/blob/master/lib/winston-loggly.js#L122 overwrites any field `message` in the meta object. When meta is an `instanceof Error`, this effectively replaces the error message from the object with an empty string.

A quick fix could be to do
[code]

[2017-12-06 21:28] mostlyjason commented on #29
Thanks for reporting this! We will have one of our engineers take a look

[2017-12-06 21:40] mostlyjason commented on #27
Closing this one as a duplicate

[2017-12-06 21:40] #27 closed

[2017-12-13 19:04] ianaya89 commented on #13
Hey, I am having the same issue with the version `2.0.1`.

- Heroku
- node 8 LTS
- winston 2.1.1

**Stack Trace**:
[code]

Thanks!

[2017-12-13 20:20] mostlyjason commented on #13
@ianaya89 thanks for reporting this we'll have someone take a look at it. In the meantime, can you tell us which version of node-loggly-bulk you are using?

[2017-12-14 15:21] jfitzpatrick13 commented on #13
Same issue as ianaya89
    "winston": "2.4.0",
    "winston-loggly-bulk": "2.0.1"

Error Code- 504 "Gateway Time-out"

            if (called) throw new Error("Callback was already called.");
                        ^
Error: Callback was already called.
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! XXX_api@1.0.0 start: `node dist/app.js`
npm ERR! Exit status 1

[2017-12-14 15:33] ianaya89 commented on #13
@mostlyjason Thanks for your reply. The version seems to be `2.0.1`. But just to be clear, I am not using it directly, is a dependency of `winston-loggly-bulk`.

[2017-12-15 11:05] Shwetajain148 commented on #13
Hi @ianaya89 and @jfitzpatrick13, Can you please confirm if you are using version `2.2.1` of `node-loggly-bulk` which is latest one. Also, please let me know the `node` and `npm` version that you are running.

Thank you.

cc: @mostlyjason

[2017-12-15 13:36] jfitzpatrick13 commented on #13
@Shwetajain148,
Yes, the main package that I'm using is winston-loggly-bulk 2.0.1
It brings in
node-loggly-bulk 2.2.1
winston 2.4.0

My setup is
node 6.10.1
npm 3.10.10

Thanks

[2017-12-19 07:46] rushisan commented on #13
The same problem problem
Error: Callback was already called.
    at /app/node_modules/winston/node_modules/async/lib/async.js:38:31
    at /app/node_modules/winston/lib/winston/logger.js:238:16
    at logged (/app/node_modules/winston-loggly-bulk/lib/winston-loggly.js:129:5)
    at /app/node_modules/node-loggly-bulk/lib/loggly/client.js:199:9
    at Request._callback (/app/node_modules/node-loggly

[2017-12-19 16:06] ianaya89 commented on #13
Hi @Shwetajain148, I am using:

- node: `8.9.1`
-  npm: `5.6.0`
- node-loggly-bulk: `2.0.1`

[2017-12-20 16:06] alimvedats commented on #13
Same issue
node: `9.3.0`
npm: `5.6.0`
node-loggly-bulk: `2.0.1`

[2018-01-03 17:40] alexeyts commented on #13
Same issue here:
node: `8.9.0`
node-loggly-bulk: `2.0.1`

[2018-01-05 12:50] piotr-s-brainhub opened #32 "cannot add loggly transport to the newest winston"
Node: 8.6.0
npm: 5.2.0
OS: Mac OS X 10.12.6
winston: 3.0.0-rc1
winston-loggly-bulk: 2.0.2

I'm trying to use `winston-loggly-bulk` as in the `README.md` and it doesn't work.
[code]
I obtain:
[code]

[2018-01-05 14:14] piotr-s-brainhub commented on #32
Fixed in `winston-loggly` repo https://github.com/winstonjs/winston-loggly/pull/53

[2018-01-05 16:15] blyork commented on #13
Same issue also:
node: `8.4.0`
npm: `5.3.0`

[code]

[2018-01-05 20:06] mostlyjason commented on #32
Is it possible you are using the new keyword when instantiating the winston transport? If so, see the last troubleshooting step in our documentation https://www.loggly.com/docs/node-js-logs/. You might have to add "true" as the third parameter in your add function.

[2018-01-05 21:00] magland commented on #13
Same issue. Using winston-loggly-bulk

[2018-01-05 21:55] piotr-s-brainhub commented on #32
for `winston.add(winston.transports.Loggly, options, true);` I have the same error

[2018-01-05 22:31] mostlyjason commented on #32
Okay thanks I think we need to have an engineer test this out

[2018-01-06 00:16] amrshakya commented on #13
Same issue. Using winston-loggly-bulk.

[2018-01-08 06:56] Shwetajain148 commented on #32
Hi @piotr-s-brainhub, with `winston 3.0.0-rc1`, I was able to reproduce the issue reported by you.

JFYI, You are using winston's latest version i.e. `3.0.0-rc1` which is currently not a stable version of winston but a release candidate and is also not tested by us. The current stable version that we are compatible with and tested is `winston 2.4.0`. I will recommend you to check with winston 2.4.

[2018-01-08 10:57] matteo-harpoon commented on #13
Same issue. Using winston-loggly-bulk.
node: `7.9.0`
npm: `5.0.3`

winston: `^2.3.1`
winston-loggly-bulk: `^2.0.1`

backtrace:
[code]

[2018-01-08 17:58] blyork commented on #13
I traced this issue down to loggly/node-loggly-bulk#31.

node-loggly-bulk's log function is calling its callback twice when the Loggly servers return a bad status code and then a success on a retry. This is causing a call to a [async.forEach](https://github.com/winstonjs/winston/blob/ffe883e4c8e467e543eda2e0673370f176bd5eb7/lib/winston/logger.js#L246) in winston.log to throw a error when [transpor

[2018-01-08 18:03] mostlyjason commented on #13
Awesome thanks @blyork! This has been hard to nail down. I look forward to the fix you mentioned.

CC @Shwetajain148

[2018-01-10 17:36] dguillamot commented on #13
We are also running into this. Looking forward to an updated npm release with a fix! Thanks!

[2018-01-11 19:28] rushisan commented on #13
any update on this issue? we are getting this problem every day several times, and it restarts our application, very annoying.

[2018-01-11 19:32] relicmelex commented on #13
Similar issue, thanks for looking into this... I'm almost to a point where I have to disable loggly's integration because it's making my app unstable. Even though I have PM2 running and it's back up in moments...

[2018-01-15 19:11] blyork commented on #13
I already have a pull request in https://github.com/loggly/node-loggly-bulk/pull/33. Just waiting for a node-loggly-bulk maintainer to review and merge.

[2018-01-16 13:16] Shwetajain148 commented on #13
Hi @blyork, I left a comment on your PR can you please check it once?

Thanks!

[2018-01-18 16:37] Samstiles commented on #13
@blyork is there any way we can get this change sooner? on a fork or something?

[2018-01-18 18:04] hodonsky commented on #13
@Samstiles There's a PR already, and as far as activity, these maintainers are pretty good. I say wait for it's proper implementation with a review and merge.

[2018-01-18 18:25] Samstiles commented on #13
@relicmelex fair, it hard crashes our APIs right now which is shitty, I'll just disable logging until then ¯\_(ツ)_/¯

[2018-01-18 18:28] hodonsky commented on #13
@Samstiles I was having this EXACT same problem and it was because of some other instability in my system causing this strange retry behavior in the first place. I resolved that ( switched from the `net` sockets I was using to web-sockets over TCP ) and the 504 retries I get now don't crash the system because of the spec for web-sockets. However, if you don't have sockets or you're looking at a si

[2018-01-18 18:30] Samstiles commented on #13
@relicmelex Oh I totally agree don't get me wrong, it's just a hobby project that has kind of exploded so I didn't anticipate needing to have the concept of a proper "production" until it was too late D:

[2018-01-22 11:34] davidknoll commented on #13
Me too:

[code]

[2018-01-25 17:58] hodonsky commented on #13
So close.... *bump* can we please give this PR a look?!

[2018-02-02 17:05] dhaspden commented on #32
I have the issue described in the original post.  I upgraded winston to version 2.4.0 and my build broke.  When I remove the Loggly transport my build succeeds.  Not sure what the issue is but something between 2.3.1 and 2.4.0 changed that caused this library to stop working for me.

[2018-02-02 17:17] xolubi commented on #13
Can't wait for this to get merged!

[2018-02-15 19:30] wlindley commented on #13
We really need this one, too!

[2018-02-15 19:39] magland commented on #13
I am waiting patiently, but cannot use loggly until this is fixed.

[2018-02-15 19:39] Samstiles commented on #13
cc @mostlyjason

[2018-02-15 21:43] dmr-loggly commented on #13
Hey everyone, we apologize for the delay in responding to this issue. I'm working right now on making sure it's brought to the right people's attention to be fixed ASAP.

[2018-02-21 11:02] Shwetajain148 commented on #13
Hey everyone, Greetings! I have published a beta package **version 2.0.4** of **winston-loggly-bulk** which contains the fix for this callback error and also improves the retry mechanism of the library on different errors.

Feel free to test the below beta package in your environment and let me know your feedback. I will release the package in production when you guys will confirm that everything

[2018-02-21 13:18] Shwetajain148 commented on #32
Hi @dhaspden, I released a new beta package for **winston-loggly-bulk** library which internally install **node-loggly-bulk**. Can you please give a try with that beta package and let me know if the issue is resolved for you? If not, then please report me back with your complete stacktrace of the error you are getting.

Use below command to install the new beta package:

`npm install winston-loggl

[2018-02-21 18:47] hodonsky commented on #13
I will let you know how it goes. Thank you all!

[2018-03-08 10:22] Shwetajain148 commented on #13
Hi @ianaya89 @jfitzpatrick13 @rushisan @alimvedats @alexeyts @blyork @magland @amrshakya @matteo-harpoon @dguillamot @Samstiles @relicmelex @xolubi..

Did you guys get some time to test the above beta package that I published which contains the fix for the callback error?

I want to listen from you so that I can go ahead and release the fix in production.

Comment Ref- https://github.com/loggly/wi

[2018-03-08 10:26] Shwetajain148 commented on #32
Hi @piotr-s-brainhub and  @dhaspden, did you get some time to test the above beta package that I published some time before?

I want to listen from you to see if the new release resolves your issue. Waiting for your reply.

[2018-03-08 15:16] dhaspden commented on #32
Hi @Shwetajain148 I'll carve some time out at lunch to give it a shot.  Standby.

[2018-03-08 16:01] piotr-s-brainhub commented on #32
I don't have enough time to check it.
In our project we forked https://github.com/winstonjs/winston-loggly because they hadn't merged my PR https://github.com/winstonjs/winston-loggly/pull/53 (no response at all) but this fork is a private repo.

[2018-03-08 18:04] hodonsky commented on #13
Unfortunately I haven't had any slew of errors to trigger what would have been the bug. I'm doing some testing soon and will let you know if there are any negative effects. If you don't hear back from me in 10 days, assume all is well and it didn't get triggered, and I just forgot to come back here and tell you.

[2018-03-08 18:20] alexeyts commented on #13
As this issue constantly happened in our production system and we did not succeed fixing it in a reasonable timeframe, we abandoned the use of this library.
We instead use syslog to report the logs.

[2018-03-08 18:30] Samstiles commented on #13
Unfortunately we're in the same boat as @alexeyts :( We had no other choice and don't have the bandwidth now to swap back

[2018-03-08 18:47] davidknoll commented on #13
I think mine was an isolated case, I haven't seen this crash in my app's
console output again.
--
Sent from my iPhone

[2018-03-09 09:28] magland commented on #13
I plan to test it soon and will let you know. Thx for the fix

[2018-03-09 17:31] dhaspden commented on #32
Okay sorry about the delay.  I tried the beta version and got mixed results.  Firstly I tried using the transport as normal...  The first set of errors is using `winston@2.4.0`, the latest stable version.

[code]

When I do this I get the following error:

[code]

I was able to get it working by using the instance directly from the module...

[code]

Using `winston@3.0.0-rc1` I received the follow

[2018-03-12 07:39] Shwetajain148 commented on #32
Hi @dhaspden, Thanks for your input. Let's first talk about the first error that you mentioned with latest stable version `winston@2.4.0`. I would like to tell you that if you are instantiating the Loggly transporter using new keyword then you must add that Loggly transporter into winston by passing 3 parameters like below-

`winston.add(transportsObject, null, true);`

Please refer the Advanced L

[2018-03-15 10:55] Shwetajain148 commented on #13
Hi everyone! I have released the `node-loggly-bulk's` package version `2.2.2` which contains the fix for the callback error and also improves the error retry mechanism of the library. You can see the instructions here: https://www.loggly.com/docs/node-js-logs/  to setup nodejs logging and by running the command below-

`npm install winston-loggly-bulk`

Thanks!

[2018-03-15 15:41] duhseekoh commented on #13
Giving this a go. FYI, if you're using yarn, you'll need to `remove` then `add` *winston-loggly-bulk*, otherwise yarn ain't gonna update the transitive *node-loggly-bulk* dep.

[2018-03-16 17:39] hodonsky commented on #13
@Shwetajain148 this action rolled me back to `winston-loggly-bulk@2.0.2` when the fix was in `2.0.4-beta`. Is this intentional because the update is in a dependency instead?

[2018-03-16 19:38] duhseekoh commented on #13
@relicmelex  2.0.2 is correct for `winston-loggly-bulk`. @Shwetajain148 made the fix in `node-loggly-bulk` which is a dependency of `winston-loggly-bulk`. So nothing in `winston-loggly-bulk` changes...

[2018-03-21 15:23] rushisan commented on #13
Looks like node-loggly-bulk v2.2.2 did the trick. No errors for last 30 hours.

[2018-03-21 18:56] DJphilomath commented on #13
I've also encountered this error. I'm still in my trial period and was not so happy that the library crashed my server. I'll see if this does the trick.

[2018-03-21 22:50] davidknoll commented on #13
I can confirm the new version fixed it for me- since my last comment I've had several more instances in my logs of intermittent trouble connecting to Loggly and it's no longer crashing the app.

[2018-03-28 12:47] Shwetajain148 commented on #29
Hi @lionello, Since this issue has been handled in the **winston-loggly-bulk's** 2.0.2 release, I am going ahead and closing this one.

[2018-03-28 12:47] #29 closed

[2018-03-28 12:48] Shwetajain148 commented on #13
Hi everyone, since this issue has been handled in **node-loggly-bulk's** 2.2.2 release, I am going ahead and closing this one.

Thanks!

[2018-03-28 12:48] #13 closed

[2018-03-28 18:42] shahidcodes commented on #32
For some reason in node `v8.9.4` the `require("winston-loggly-bulk");` didn't expose `Loggly` to the `winston.transaports`. So we have to pass `Loggly` directly to `winston.add`.
[code]

PS: Used version
[code]

[2018-04-06 17:06] jcasner commented on #13
We upgraded to `node-loggly-bulk@2.2.2` 2 days ago and are now seeing even worse problems. We are seeing more frequent `502`, `504`, `ETIMEDOUT`, and `ECONNRESET` errors. While the retry logic seems to be firing, we're also noticing that the retried message doesn't appear in our Loggly logs, only the messages from `node-loggly-bulk` about retrying.

[code]
Or, maybe the actual message is in there,

[2018-04-06 17:10] DJphilomath commented on #13
We have also been having a lot of connection errors after the upgrade
[code]

[2018-04-06 17:16] hodonsky commented on #13
I've been flooding my loggly pipe with load tests, and I haven't gotten a single one, can you copy in your implementation details as the error log it appears isn't super helpful as to 'why' it's happening here? @DJphilomath Also it looks like for you it's every 10 seconds pretty on the nose, do you have a timeout somewhere or a load balancer with connection draining?

[2018-04-06 17:19] davidknoll commented on #13
I've been seeing a lot more errors on the console, but they're not crashing
the app like before. Haven't actively been checking Loggly though.
--
Sent from my iPhone

[2018-04-06 18:25] jcasner commented on #13
I've dug a bit deeper. Seems the app isn't actually crashing, but the CPU is spiking, which is leading to autoscaling events, so the affected server gets rotated out. That was hard to diagnose because the logs aren't making it through to Loggly :/

I have filed a report with Loggly also, since it seems to be bursts of network issues. It seems like the issue is degraded network activity on their si

[2018-04-10 11:06] edorivai commented on #32
Following works for us, we use typescript.

[code]

[2018-05-19 20:50] relicmelex opened #33 "Please add handler for `undefined`: Tags processing throwing type error"
When I pass an env var that is undefined into the tags array winston-loggly-bulk crashes my whole app.

I'm sure you already know where this is:
[code]

[2018-05-23 09:24] Shwetajain148 commented on #33
Hi @relicmelex, Currently, I'm busy with some ongoing issues but certainly, I'll pick this up once I get some time.

Thanks for reporting.

[2018-06-05 02:21] wyqydsyq opened #34 "Sending JSON is broken"
Setting the `json` option to `true` results in my log never actually reaching loggly, no error gets thrown and the Winston transport isn't emitting it's `error` event either, so it causes logging to silently fail.

This issue can be worked-around by not specifying `json: true` in the options, and manually `JSON.stringify`ing the log body e.g:

Instead of:
[code]

Use:
[code]

[2018-06-06 07:12] Shwetajain148 commented on #34
Hi @wyqydsyq, Please give me some time to finish my ongoing issues. I'll try to reproduce once I get some time.

Thanks for reporting.

[2018-06-20 10:17] sabry2010 commented on #32
Node: 10.4.1
npm: 6.1.0
OS: ubuntu 14.04
winston: ^3.0.0

when  I try to run node server.js in terminal I’m getting this error

/node_modules/winston-transport/legacy.js:18
    throw new Error('Invalid transport, must be an object with a log method.');
    ^

Error: Invalid transport, must be an object with a log method.
    at new LegacyTransportStream (/node_modules/winston-transport/legacy.js:1

[2018-06-20 18:13] OtterCode commented on #32
@sabry2010 Hello! I'm currently working on an official fix for this. I've got it 90%, just cleaning up some tests. It should be finished today or tomorrow. I'll keep you posted.

[2018-06-21 06:02] sabry2010 commented on #32
@OtterCode  okay thank you waiting you

[2018-06-22 08:22] Shwetajain148 commented on #32
Hi @sabry2010, @OtterCode, Sorry for the delay in fix here, I was busy with some critical issues. JFYI, I am almost done with the initial support with `winston 3.0.0` and going to share the details very soon to setup Loggly with the latest winston version.

Stay tuned. Thanks!

[2018-06-22 09:55] Shwetajain148 commented on #32
Hi @piotr-s-brainhub, @dhaspden, @shahidcodes, @edorivai, @sabry2010, @OtterCode Good news here!

Since `winston-v3.0.0` changes, we have also made some modification to be compatible with `winston@3`. We created a different branch [winston-loggly-bulk@3.x](https://github.com/loggly/winston-loggly-bulk/tree/3.x) to keep the new changes there. Please go through the instructions in the README file fo

[2018-06-22 13:19] OtterCode commented on #32
@Shwetajain148 Did you end up using my PR?

[2018-06-22 19:15] mostlyjason commented on #32
Cool thanks for sharing @Shwetajain148 can you test the new branch @OtterCode? Btw, @OtterCode is writing a blog on winston 3 support.

[2018-06-22 21:51] sabry2010 commented on #32
@Shwetajain148  I follow all instructions and still I get issues

loggly is a legacy winston transport. Consider upgrading:
- Upgrade docs: https://github.com/winstonjs/winston/blob/master/UPGRADE-3.0.md
Error: Loggly Error (403): Forbidden
    at Request._callback (/node_modules/node-loggly-bulk/lib/loggly/common.js:201:31)
    at Request.self.callback (/node_modules/request/request.js:185:22)

[2018-06-23 17:59] Shwetajain148 commented on #32
Hi @sabry2010, Please correct your Loggly Customer Token. The library throws **403 Forbidden** in case of wrong customer token used. You can find the customer token at- https://SUBDOMAIN.loggly.com/tokens

**Replace**: **SUBDOMAIN** with your Loggly account subdomain.

Hopefully, this will resolve your issue.

[2018-06-23 18:25] Shwetajain148 commented on #32
Hi @OtterCode, I did not use your PR. In-fact, I just saw it now.

Hi @mostlyjason, sorry it's a bit confusing. Are you asking me or @OtterCode to test the new branch? BTW, great to know that he's writing a blog.

[2018-06-25 19:46] mostlyjason commented on #32
@Shwetajain148, @OtterCode is going to try to merge his changes from #39 into your branch. I'm then hoping you'll be able to test it. If you have more changes, can you add them tonight or hold until he's done so we don't create any merge conflicts?

[2018-06-27 13:24] Shwetajain148 commented on #32
@OtterCode, Can you confirm when you are going to merge your changes into my branch?

[2018-06-27 23:23] OtterCode commented on #32
@Shwetajain148 The pull request has been up for a while. You can merge it if it looks good to you.

[2018-06-28 01:00] mostlyjason commented on #32
He submitted #42 but I think he needs to fix some merge conflicts first

[2018-06-28 19:00] mostlyjason commented on #32
Fixed the merge conflicts and added #43. @Shwetajain148 can you test?

[2018-06-29 11:24] Shwetajain148 commented on #32
@mostlyjason @OtterCode, Yes, I'll test and will let you know how it goes. Thanks.

[2018-07-02 14:12] trieloff commented on #32
I've been trying both @Shwetajain148 and  @OtterCode and @mostlyjason's #43 with an empty project:

[code]

After the initial debug message it just sits there for another 20 seconds.

My `scratch.js` looks like this:

[code]

So I'd say it does not work for me. Going through the test cases I could not find an example where the transport is called with winston (it's always tested standalone) and it

[2018-07-03 07:18] Shwetajain148 commented on #32
Hi @trieloff, I just replicated all the steps that you performed and I didn't see any problem my event logged to Loggly successfully. Did you search for your event in your Loggly account? I think you are getting confused with the termination of the command once the event has been logged because there is no other event to be logged. This is default library behavior to not let any open handler keep

[2018-07-03 18:06] OtterCode commented on #32
@Shwetajain148 It's a legacy transport because the Loggly.log function accepts too many arguments. There's an undocumented update in Winston 3.x that requires the log function to be written with only two arguments: info, and callback.

For the current winston-loggly-bulk, this means that there's a huge amount of code that needs cutting, since Winston now takes responsibility for it. It still works

[2018-08-01 05:22] Shwetajain148 commented on #33
Hi @relicmelex, Good news here! The fix for your issue has been made and now in production. Please let me know if you come across of any issue again.

Thanks!

[2018-08-03 06:16] Shwetajain148 commented on #33
Since this has already been handled, closing this issue. Please re-open if it come up again.

Thanks!

[2018-08-03 06:16] #33 closed

[2018-08-03 17:16] hodonsky commented on #33
Awesome thanks, I'll update and report back only if there are any further issues. Cheers!

[2018-09-02 07:49] kimown commented on #32
[code]

[2018-09-05 09:21] shahidcodes opened #44 "Can not tag an error when passed to `.error` or `.info` function."
Error tags works when tags are passing when instantiating the transport
[code]
but not when when passed to `.error` or `.info` function.
[code]

I can see the code passes the tags array to underlying `node-loggly-bulk` but why it does'nt appear as tag in Loggly rather its appended in `json` as an extra property called `meta`

versions from package.json
[code]

[2018-09-27 17:13] weyert opened #45 ""loggly is a legacy winston transport. Consider upgrading:""
When I am using `winston-loggly-bulk` as defined in the `package.json` as:
[code]

I am getting the warning message:

[code]

[2018-09-28 08:23] Shwetajain148 commented on #45
Hi @weyert, thanks for reporting this.

I want to let you know that this is a known issue and currently being worked on. The `winston-loggly-bulk` library is using some legacy syntax of `winston` which have been removed in latest `winston's 3.x` release. Due to the legacy syntax, this message is displayed to users.

The library is being upgraded to winston 3.x compatibility and should complete soo

[2018-10-01 10:33] Shwetajain148 commented on #45
Closing this issue since the same main thread is at- #32. Please follow the existing issue for further updates.

Thanks!

[2018-10-01 10:33] #45 closed

[2018-11-16 11:01] satgrocks opened #46 "Using Loggly with winston in browser is causing CORS issue"
Getting CORS errors in browser when using loggly with winston from browser.

OPTIONS https://logs-01.loggly.com/inputs/customerToken 405 (Method Not Allowed)

Access to fetch at 'https://logs-01.loggly.com/inputs/customerToken' from origin 'https://mydomain.com' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header

[2018-12-26 07:54] satgrocks commented on #46
Started working after setting isBulk flag to true during setup.

[2018-12-26 07:54] #46 closed

[2019-01-10 09:37] elfilip commented on #44
I tested it on 3.x branch and it works. When I call:
`logger.info("Hello World from Node.js! ",{ tags: ['user_login'] });`
The tag shows in the list of tags in Loggly.

[2019-01-10 09:44] elfilip commented on #34
I can't reproduce this.  Json option works for me fine.

[2019-01-29 11:47] bikash615 opened #52 "Issue in azure winston3.x"
fetchPackageMetaData error for winston-loggly-bulk@git+https://github.com/loggly/winston-loggly-bulk.git#99e570e1c45d90cb84a2f1234365d055d4c71ab0 Command failed: D:\Program Files\Git\cmd\git.EXE checkout 99e570e1c45d90cb84a2f1234365d055d4c71ab0

25 silly fetchPackageMetaData fatal: reference is not a tree: 99e570e1c45d90cb84a2f1234365d055d4c71ab0

[2019-01-29 12:38] #52 closed

[2019-01-29 22:37] monbrey commented on #34
I've encountered the same issue - it seems that JSON cannot be sent if no message string is provided.
Example
[code]

If JSON is the only parameter, it seems to be ignored

[2019-01-30 05:45] wyqydsyq commented on #34
Ah that makes sense as to why some couldn't reproduce, I think in my case I didn't specify a `message` property in the JSON object while I assume most people would.

Seems there's some kind of internal check/processing happening on `body.message` in the log handler for this transport (or somewhere along it's call stack) and the transport is silently dropping the log event if it is unable to find/e

[2019-01-30 07:16] monbrey commented on #34
Working on this today, I’ve found that Loggly also has a “feature” which drops fields from the parser if their type had changed (eg from string to object) which might also be causing the issue

[2019-03-26 09:15] codejamninja opened #54 "Tests fail to run"
[code]

[2019-04-11 04:12] #54 closed

[2019-09-18 04:07] themyth92 opened #56 "Loggly typescript support"
Hi, are there any plans to support typescript definition ?

[2019-11-20 20:14] mhintzke opened #57 ""winston" should be a peerDependency not a dependency?"
I'm still fairly inexperienced with how these should work but since `winston-loggly-bulk` is an extension package to the `winston` package, a consumer of this package should already have `winston` installed.  I believe when this situation occurs, the use of `peerDependencies` is favored over `dependencies`.

Please correct me if I am wrong.

[2020-03-31 16:15] paglias opened #60 "clone module causes NodeJS to crash with some objects"
We're using Loggly and this module at our company and we started to have issues with NodeJS crashing, after some investigation we were able to determine that they were caused by the `clone` module this library is using when passed some arguments it's not able to clone, in our case it was errors from the quite popular superagent module https://github.com/visionmedia/superagent

More info:

- https:

[2020-04-01 10:12] devotox commented on #60
This happens way too often.

It seems the master branch of clone has a fix from this [PR](https://github.com/pvorb/clone/commit/6df949a1f2175763319326a4e1c4911a9acbd878) but no release cut yet

[2020-04-01 18:27] paglias commented on #60
I'm wondering if cloning is even needed in this case, it's basically cloning an object already modified by winston and changing 3 properties, it might be easier to simply restore the properties to the origininal state after the message is sent

I'm not sure who's managing this repo (trying with @alestrunda @michal-bures) but this issue is pretty serious and preventing us from using Loggly right no

[2020-04-01 18:59] devotox commented on #60
Make a PR and you could test it in your system by using your GitHub version

[2020-04-01 19:56] paglias commented on #60
@devotox I will if it's not fixed in the coming days but given that this repository is under loggly's organization, that it's a product we're paying for and that the bug is pretty serious (IMO) and makes the use of this module quite dangerous in production I wanted to first see if there was any interest in fixing this directly from Loggly

[2020-04-02 05:41] alestrunda commented on #60
Thanks for pointing that out, this library hasn't been updated for some time, we are currently reviewing what changes should be made.

[2020-04-06 12:13] alestrunda commented on #60
fixed in 644466dd39e69947f5321158d803db58592d0895

[2020-04-06 12:13] #60 closed

[2020-04-06 12:16] #44 closed

[2020-04-06 12:21] alestrunda commented on #34
works in version 3

[2020-04-06 12:21] #34 closed

[2020-04-07 13:21] paglias commented on #60
@alestrunda thanks for fixing this! We'll re-enable Loggly at the end of the week, I'll let you know if there's any problem but it shouldn't

[2020-04-10 20:28] thetroy commented on #56
This exists now:
https://www.npmjs.com/package/@types/winston-loggly-bulk

[2020-04-12 03:22] stuckj opened #61 "Latest changes break logging in AWS lambda functions"
The latest changes break logging in AWS lambda functions. In lambda functions, all async processing must be done before you exit the lambda handler else that processing will basically not occur (the process gets frozen). You'll lose logs calls if you can't flush the stream before exiting. There's a bunch of detail on this in this Winston issue: https://github.com/winstonjs/winston/issues/1250

Pre

[2020-04-13 07:48] #56 closed

[2020-05-02 15:56] terrisgit commented on #61
I left a comment at https://github.com/winstonjs/winston/issues/1250

[2020-05-04 22:27] gordody opened #62 "splat undefined issue due to lack of check"
https://github.com/loggly/winston-loggly-bulk/blob/master/lib/winston-loggly.js#L134 is dereferenceing splat[0] without null-checking it. With custom formatters, spalts can contain anything...

[2020-05-08 14:52] HaimBendanan opened #63 "Publish custom columns"
Hey,

I must be missing something. I am trying to upload logs with additional columns, but can't find a way to do it. Could you share an example of how to achieve that?

[2020-06-24 15:14] renanccastro opened #64 "Circular JSON structure crash"
Hello, everyone.
We are using this library to push logs to loggly with Winston and Meteor, but some circular JSON structure is crashing our servers from time to time.
Any clues on what could be done on the library level to avoid this?

This is some of the logs we have:
[code]

Thanks for the help!

[2020-06-25 08:45] Katulus commented on #64
Hello @renanccastro, it looks that the object you are sending through the library contains circular reference and when it's being converted to JSON string it throws this error.

Can you figure out if it's throwing this error for some specific log statements?

[2020-06-25 14:53] renanccastro commented on #64
Sorry, we can't identify exactly the log with the error.
It seems like the library could get some safety wrap around the arguments, so it doesn't happen. What do you think?
Or at least catch and warn about it instead of throwing the error. Would a PR be welcome?

[2020-06-25 16:41] Katulus commented on #64
Sure, since you can reproduce the issue feel free to create a PR and we'll check it and merge if it's OK.

[2020-07-04 19:01] alestrunda commented on #63
Hello, from the readme: `winston.log('info', "Hello World from Node.js!");`. But the second argument could be an object, so you can do something like `winston.log('info', { col: "data", col2: "data" });`.

[2020-11-15 10:38] Mohammad-sabbagh opened #67 "Vulnerability due to usage of lodash.clonedeep:4.5.0"
lodash node module before 4.17.5 suffers from a Modification of Assumed-Immutable Data (MAID) vulnerability via defaultsDeep, merge, and mergeWith functions, which allows a malicious user to modify the prototype of "Object" via __proto__, causing the addition or modification of an existing property that will exist on all objects.

details https://ossindex.sonatype.org/vuln/12e63c9c-b3f9-42d3-8541-

[2021-01-20 08:29] mend-for-github-com[bot] opened #68 "CVE-2020-15366 (Medium) detected in ajv-6.12.0.tgz"
## CVE-2020-15366 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>ajv-6.12.0.tgz</b></p></summary>

<p>Another JSON Schema Validator</p>
<p>Library home page: <a href="https://registry.npmjs.org/ajv/-/ajv-6.12.0.tgz">https://registry.npmjs.org/ajv/-/ajv-6.12.0.tg

[2021-01-20 08:29] whitesource-for-github-com[bot] opened #69 "CVE-2020-7789 (Medium) detected in node-notifier-6.0.0.tgz"
## CVE-2020-7789 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>node-notifier-6.0.0.tgz</b></p></summary>

<p>A Node.js module for sending notifications on native Mac, Windows (post and pre 8) and Linux (or Growl as fallback)</p>
<p>Library home page: <a href="h

[2021-01-20 08:29] whitesource-for-github-com[bot] opened #70 "CVE-2020-7774 (High) detected in y18n-4.0.0.tgz"
## CVE-2020-7774 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>y18n-4.0.0.tgz</b></p></summary>

<p>the bare-bones internationalization library used by yargs</p>
<p>Library home page: <a href="https://registry.npmjs.org/y18n/-/y18n-4.0.0.tgz">https://registry.npm

[2021-01-20 08:29] whitesource-for-github-com[bot] opened #71 "CVE-2020-8203 (High) detected in lodash-4.17.15.tgz"
## CVE-2020-8203 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>lodash-4.17.15.tgz</b></p></summary>

<p>Lodash modular utilities.</p>
<p>Library home page: <a href="https://registry.npmjs.org/lodash/-/lodash-4.17.15.tgz">https://registry.npmjs.org/lodash/-/lodash

[2021-02-18 11:51] sunilgautam opened #72 "How to handle EAI_AGAIN errors?"
We are using winston-loggly-bulk package to push logs to loggly in a Nodejs process. This process is crashing when there is EAI_AGAIN error. Is there a way to prevent this crash ?

Here is error log:
[code]

OS: Ubuntu 18.04.2 LTS
Node: v12.16.3
winston: v3.3.3
winston-loggly-bulk: v3.1.1

Here is config we are using:
[code]

[2021-02-18 13:06] alestrunda commented on #72
The error is coming right from node.js, I'm not sure whether there's anything we can do about it from the script. Perhaps might be worth looking into some node settings how to suppress such error.

Anyway, I'm missing the point of sending logs when they are not being delivered, I think the only correct way is to figure out why the DNS lookup is failing and fix that.

[2021-02-24 17:33] satgrocks opened #73 "Loggly Transport stops working with winston after a while"
Hello, So we are using the winston lib ver 3.3.3 along with winston-loggly-bulk 3.1.1 and we are able to see the logs in Console (using ConsoleTransport of winsto) and loggly dashboard as well. But after a few seconds, the logs are not sent to loggly anymore, but the console logs are still available.  I checked the transports attributes of the logger (winston.Logger), I could see both the ConsoleT

[2021-02-24 19:08] alestrunda commented on #73
Hello, we're having some issues with `isBulk: true` option. When I was testing it I was experiencing the exact same problem you're describing. We're currently working on that, but for now, I can only recommend not to use `isBulk` option.

[2021-02-24 19:12] satgrocks commented on #73
@alestrunda Thanks for your response. We had issues while sending logs to loggly from front end (UI) without the isBulk option for some reason. For now I guess we will just wait till you have a solution for this problem. Thanks again.

[2021-03-02 08:19] michaljanda commented on #69
Not security risk as it is used only from tests.

[2021-03-02 08:19] #69 closed

[2021-03-02 15:54] michaljanda commented on #68
This is originally a vulnerability in our *node-loggly-bulk*. It will be solved there at first and then marked here as resolved.

[2021-03-03 10:11] michaljanda commented on #57
Tracked internally in LOG-11890

[2021-03-03 13:45] susilm commented on #63
Closing due to inactivity

[2021-03-03 13:45] #63 closed

[2021-03-03 13:45] susilm commented on #64
Closing as we were unable to reproduce, please reopen if issue still exists.

[2021-03-03 13:45] #64 closed

[2021-03-10 13:12] michaljanda commented on #71
Updated dependency.

[2021-03-10 13:12] #71 closed

[2021-03-10 13:20] michaljanda commented on #70
Updated to 4.0.1

[2021-03-10 13:20] #70 closed

[2021-03-10 13:21] michaljanda commented on #67
Thank you for the report. The dependency should be updated now. Feel free to reopen it if you find it unresolved.

[2021-03-15 19:44] satgrocks commented on #73
@alestrunda Hi there. Are there any updates on this issue ?

[2021-03-17 11:27] alestrunda commented on #73
Sorry about the delay, there were other priorities, anyway the root cause of this issue is in lib `node-loggly-bulk` - the fix is ready and just being reviewed https://github.com/loggly/node-loggly-bulk/pull/62

[2021-03-17 14:55] satgrocks commented on #73
Thanks for the update. Please let know once it is merged.

[2021-03-23 12:38] michal-bures commented on #73
Fixed by #75 (release `v3.2.1`). @satgrocks Feel free to reopen in case the issue persists.

[2021-03-23 12:38] #73 closed

[2021-03-23 16:46] alestrunda commented on #73
@satgrocks fix has been released, but that's just the lib https://github.com/loggly/node-loggly-bulk so we will also have to update that dependency for winston-loggly-bulk and release it. Not sure when that's going to happen, we're currently doing maintenance of several open-source libs we've got.

Anyway you can get the fix when you go to `node_modules/winston-loggly-bulk` and run `npm install no

[2022-03-09 12:58] nitinkothwal opened #78 "Error: Callback called multiple times"
We are seeing issue of `Error: Callback called multiple times` occurring more frequently.  I'm suspecting following api call failing or returning status code other than 200.

- URL: https://logs-01.loggly.com:443/bulk/7456109d-5a43-4721-8987-27720cfa58a7/tag/extensionBridgeService.ts
- Method: POST

 It subsequently causes to throw error:

`"Loggly Error: TypeError: Failed to fetch"`

and finally

[2022-04-07 15:14] mend-for-github-com[bot] opened #80 "CVE-2021-23337 (High) detected in lodash-4.17.15.tgz"
## CVE-2021-23337 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>lodash-4.17.15.tgz</b></p></summary>

<p>Lodash modular utilities.</p>
<p>Library home page: <a href="https://registry.npmjs.org/lodash/-/lodash-4.17.15.tgz">https://registry.npmjs.org/lodash/-/lodas

[2022-04-07 15:14] mend-for-github-com[bot] opened #81 "CVE-2020-28500 (Medium) detected in lodash-4.17.15.tgz"
## CVE-2020-28500 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>lodash-4.17.15.tgz</b></p></summary>

<p>Lodash modular utilities.</p>
<p>Library home page: <a href="https://registry.npmjs.org/lodash/-/lodash-4.17.15.tgz">https://registry.npmjs.org/lodash/-/lod

[2022-04-07 15:14] mend-for-github-com[bot] opened #82 "CVE-2022-24785 (High) detected in moment-2.24.0.tgz"
## CVE-2022-24785 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>moment-2.24.0.tgz</b></p></summary>

<p>Parse, validate, manipulate, and display dates</p>
<p>Library home page: <a href="https://registry.npmjs.org/moment/-/moment-2.24.0.tgz">https://registry.npmjs

[2022-04-14 16:50] whitesource-for-github-com[bot] opened #83 "CVE-2021-43138 (High) detected in async-2.6.3.tgz"
## CVE-2021-43138 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>async-2.6.3.tgz</b></p></summary>

<p>Higher-order functions and common patterns for asynchronous code</p>
<p>Library home page: <a href="https://registry.npmjs.org/async/-/async-2.6.3.tgz">https://r

[2022-07-08 02:15] JosefSaltz opened #84 "0.0.0.0:443 ECONNECTION REFUSED in WSL2"
When trying to send logs to my Loggly subdomain the console is generating connection refused errors for 0.0.0.0:443 when running from WSL2. If anyone can suggest a work around that will allow me to run this under WSL2 it would help greatly. I usually use ngrok when I have to tunnel https traffic in and out of WSL2.

[2022-10-19 02:13] mend-for-github-com[bot] opened #85 "CVE-2022-31129 (High) detected in moment-2.24.0.tgz"
## CVE-2022-31129 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>moment-2.24.0.tgz</b></p></summary>

<p>Parse, validate, manipulate, and display dates</p>
<p>Library home page: <a href="https://registry.npmjs.org/moment/-/moment-2.24.0.tgz">https://registry.npmjs

[2022-10-19 02:13] mend-for-github-com[bot] opened #86 "CVE-2022-3517 (High) detected in minimatch-3.0.4.tgz"
## CVE-2022-3517 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>minimatch-3.0.4.tgz</b></p></summary>

<p>a glob matcher in javascript</p>
<p>Library home page: <a href="https://registry.npmjs.org/minimatch/-/minimatch-3.0.4.tgz">https://registry.npmjs.org/minimat

[2022-11-17 13:45] heidemn-faro opened #87 "Replace or upgrade deprecated dependencies"
Affected version: Latest, `winston-loggly-bulk@3.2.1`

These commands...

[code]

...result in the following warnings:
[code]

Can you provide an updated version of the library?